html, body {
    margin: 0;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #7AA2F7;
}

@media (max-width: 1250px) {
    html, body {
        overflow: hidden;
        touch-action: pan-x pan-y;
    }
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#canvas {
    margin-top: 0rem;
    border-top: 0.1rem solid #99b8f7;
    border-bottom: 0.1rem solid #99b8f7;
    width: 100vw;
}

#score-board {
    width: 100%;
}

@media (min-width: 1250px) {
    #canvas {
        width: 100vw;
        height: 85vh;
    }

    #score-board {
        width: 100vw;
    }
}

.arrow-key {
    width: 8rem;
    height: 8rem;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(240, 240, 240, 0.7);
    opacity: 0.5;
    font: bold 3rem tahoma, sans-serif;
    display: flex;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    margin: 0rem;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    bottom: 4rem;
}

.left {
    left: 2rem;
}

.right {
    right: 2rem;
}

.pressed {
    background-color: rgba(155, 155, 155, 0.3);
    color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@media (pointer: fine) {
    /* Hide on-screen keys on devices with a mouse */
    .arrow-key {
        display: none;
    }
}

