html, body {
    margin: 0;
    height: 100%;
    user-select: none;
}

@media (max-width: 1250px) {
    html, body {
        overflow: hidden;
        touch-action: pan-x pan-y;
    }
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

#canvas {
    margin-top: 2rem;
    border: 1px solid black;
    width: 80%;
}

#score-board {
    border: 1px solid black;
    width: 80%;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.arrow-key {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    font-size: 3rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pressed {
    background-color: #d0d0d0;
}
